
<div class="md-content">

    <section class="md-section" style="background-color:#f7f7f7; padding-bottom:0;">
        <div class="container">
            <div class="content-block header-left">
                <div class="">
                    <h6 class="content-subTitle"><a href="{{ url('services') }}">Usługi</a></h6>
                    <h2 class="content-title">Naprawa aut osobowych, dostawczych i ciężarowych</h2>
                    <div class="content-description">Jesteśmy serwisem samochodowym z wieloletnim doświadczeniem. Możemy poszczycić się bardzo bogatym zapleczem warsztatowym, co wyróżnia nas spośród firm konkurencyjnych. Podczas serwisowania pojazdów osobowych, dostawczych, ciężarowych oraz naczep wykorzystujemy narzędzia najwyższej jakości oraz nowoczesne technologie aby realizowane przez nas prace zajmowały możliwie najkrótszy czas. Kładziemy duży nacisk na profesjonalizm i rzetelność wykonywanych usług co potwierdzamy gwarancją dzięki której zdobywamy zaufanie naszych obecnych i przyszłych klientów. Przed rozpoczęciem naprawy wszystkie koszty ustalane są indywidualnie z klientem.</div>
                    <h4>Nasza oferta</h4>
                    <ul class="fa-ul">
                        <li>
                            <i class="fa fa-li fa-cog"></i>
                            Diagnostyka komputerowa samochodów osobowych, dostawczych, ciężarowych oraz naczep.
                        </li>
                        <li>
                            <i class="fa fa-li fa-cog"></i>
                            Naprawa samochodów osobowych, dostawczych, ciężarowych (naprawy zawieszenia, silników).
                        </li>
                        <li>
                            <i class="fa fa-li fa-cog"></i>
                            Obsługa okresowa pojazdów ( wymiana płynów i filtrów, przegląd stanu pojazdu).
                        </li>
                        <li>
                            <i class="fa fa-li fa-cog"></i>
                            Naprawy układów hamulcowych.
                        </li>
                        <li>
                            <i class="fa fa-li fa-cog"></i>
                            Naprawy układów zawieszenia.
                        </li>
                        <li>
                            <i class="fa fa-li fa-cog"></i>
                            Naprawy skrzyń biegów (samochody ciężarowe).
                        </li>
                        <li>
                            <i class="fa fa-li fa-cog"></i>
                            Naprawy elektryczne.
                        </li>
                        <li>
                            <i class="fa fa-li fa-cog"></i>
                            Naprawy układów paliwowych.
                        </li>
                        <li>
                            <i class="fa fa-li fa-cog"></i>
                            Naprawy układów pneumatycznych oraz hydraulicznych.
                        </li>
                        <li>
                            <i class="fa fa-li fa-cog"></i>
                            Wulkanizacja kół do 56”, naprawiamy opony osobowe, dostawcze, ciężarowe, rolnicze oraz do maszyn budowlanych oraz wózków widłowych.
                        </li>
                        <li>
                            <i class="fa fa-li fa-cog"></i>
                            <strong>Usługi spawalnicze:</strong> spawamy wszystkie typy metali (aluminium, stal zwykła, stal kwasowa w osłonie argonu).
                        </li>
                        <!--
                        <li>
                            <i class="fa fa-li fa-cog"></i>
                            <strong>Wykonujemy naprawy cystern</strong> w zakresie spawania, naprawa pomp rozładunkowych, spawanie elementów cystern, naprawa ogrzewań produktu w cysternie.
                        </li>
                        -->
                        <li>
                            <i class="fa fa-li fa-cog"></i>
                            Naprawa ogrzewań postojowych WEBASTO oraz EBERSPRACHER.
                        </li>
                        <li>
                            <i class="fa fa-li fa-cog"></i>
                            Wymiana: układów zapłonowych sprzęgieł, linek, pasków klinowych, pasków rozrządu.
                        </li>
                        <li>
                            <i class="fa fa-li fa-cog"></i>
                            Naprawa układu kierowniczego (przekładni, pomp wspomagania i innych elementów).
                        </li>
                        <li>
                            <i class="fa fa-li fa-cog"></i>
                            Naprawa i wymiana układu wydechowego.
                        </li>
                        <li>
                            <i class="fa fa-li fa-cog"></i>
                            Naprawa układów napędowych (półosie, przeguby, osłony, łożyska).
                        </li>
                        <li>
                            <i class="fa fa-li fa-cog"></i>
                            Naprawa układów zasilania silnika i głowic silników.
                        </li>
                        <li>
                            <i class="fa fa-li fa-cog"></i>
                            Regulacja oraz wymiana układu zasilania i układu rozruchowego.
                        </li>
                        <li>
                            <i class="fa fa-li fa-cog"></i>
                            Wymiana rozrządu, układu chłodzenia (chłodnice, pompy, przewody, płyny, termostaty, nagrzewnice).
                        </li>
                        <li>
                            <i class="fa fa-li fa-cog"></i>
                            Pozostałe elementy samochodów (rozruszniki, alternatory).
                        </li>
                        <li>
                            <i class="fa fa-li fa-cog"></i>
                            Oraz wiele innych w zależności od potrzeb...
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3>Zainteresowany?
                        <a href="{{ url('contact') }}" class="fx-text-pulse">Skontaktuj się z nami</a>!
                    </h3>
                </div>
            </div>
        </div>
    </section>

</div>