
<div class="md-content">

    <section class="md-section" style="background-color:#f7f7f7; padding-bottom:0;">
        <div class="container">
            <div class="content-block header-left">
                <div class="">
                    <h6 class="content-subTitle"><a href="{{ url('services') }}">Usługi</a></h6>
                    <h2 class="content-title">Transport krajowy i międzynarodowy</h2>
                    <div class="content-description">Nasza firma zajmuje się transportem cysternami spożywczymi od 1996r. Aktualnie przewozimy takie produkty jak: koncentraty, aromaty, soki oraz pulpy owocowe, mamy możliwość przewożenia również innych produktów spożywczych.</div>
                    <div class="content-description">Zawsze staramy się dopasować naszą ofertę do dynamicznie zmieniających się potrzeb rynku oraz klientów, bowiem najważniejsza jest dla nas Państwa satysfakcja.</div>
                    <div class="content-description">Posiadamy cysterny 3 oraz 4 komorowe o pojemności od 25 do 32 tys. litrów. Cysterny wyposażone są w zawory ciśnieniowe oraz podciśnieniowe, zawory pobiercze, uniwersalne przyłącza spustowe oraz węże spożywcze. W ostatnim czasie doposażyliśmy naszą flotę w cysterny posiadające podgrzewanie z elektroniczną kontrolą temperatury oraz pompy rozładunkowe.</div>
                    <div class="content-description">Wszystkie nasze zestawy posiadają pakiety ubezpieczeń:</div>
                    <ul class="fa-ul">
                        <li>
                            <i class="fa fa-li fa-check"></i> OC działalności.
                        </li>
                        <li>
                            <i class="fa fa-li fa-check"></i> OCP, OCPD ubezpieczenie towaru.
                        </li>
                        <li>
                            <i class="fa fa-li fa-check"></i> OC, AC pojazdów.
                        </li>
                    </ul>
                    <div class="content-description">Naszą misją jest świadczenie usług na najwyższym poziomie, dzięki którym nasi Klienci zyskają przewagę nad konkurencją oraz uznanie wśród swoich kontrahentów. Powyższe zadania realizujemy zapewniając profesjonalną obsługę w zakresie organizacji transportu krajowego.</div>
                    <div class="content-description">Dodatkowo posiadamy myjnię cystern spożywczych spełniającą najwyższe wymagania jakościowe.</div>
                </div>
            </div>
            <br /><br />

            <div class="row">
                <div class="col-md-12 text-center title-01">
                    <h3>Zainteresowany?
                        <a href="{{ url('contact') }}" class="fx-text-pulse">Skontaktuj się z nami</a>!
                    </h3>
                </div>
            </div>
        </div>
    </section>

</div>